body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	color: #333;
    padding-bottom: 50px;
}

body.modal-open {margin-right: 0px}

.navbar-top {
    margin-top: 60px;
    padding-right: 17px;
}

.longDesc {
    white-space: nowrap;
    overflow: hidden;
    min-width: 50px;
    max-width: 100px;
    text-overflow: ellipsis;
}

table button.edit {
    margin-right: 5px;
}

.list-group li {
    list-style: none;
}
.panel-info, .panel-rating, .panel-more1 {
    float: left;
    margin: 0 10px;
}

.input-group {
    width: 75%;
}

.page-links li:hover {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.navbar-right li {
    padding: 8px;
}

.navbar-form .input-group {
    margin-left: 50px;
}

#add-edit-form {
	width: 435px;
	margin: 0px auto;
}

#add-edit-form div {
	margin: 10px 0px;
	text-align: right;
}

#add-edit-form input, #add-edit-form select {
	width: 300px;
}

@media screen and (max-width: 768px) {
	.container {
		width: 600px;
	}

}