<div class="row">
    <h3>Basic Information</h3>
    <div class="col-md-2 profile-pic">
        <h4>Profile Picture</h4>
        <img src="../images/profile-pic.gif" class="img-responsive" alt="Cinque Terre">
    </div>
    <div class="col-md-5">
        <div class="profile-info-row">
            <h4 class="profile-left-info">Name:</h4>
            <h4 class="profile-right-info">{{user.firstName}} {{user.lastName}}</h4>
        </div>
        <div class="profile-info-row">
            <h4 class="profile-left-info">Gender:</h4>
            <h4 class="profile-right-info">{{user.gender}}</h4>
        </div>
        <div class="profile-info-row">
            <h4 class="profile-left-info">Email:</h4>
            <h4 class="profile-right-info">{{user.email}}</h4>
        </div>
        
    </div>
    
</div>
<div class="row" ng-show="currentuser._id == user._id">
    <h3>Payment Information</h3>
    <div class="col-md-8">
        <div class="profile-info-row">
            <h4 class="profile-left-info">Card Type:</h4>
            <h4 class="profile-right-info">Visa</h4>
        </div>
        <div class="profile-info-row">
            <h4 class="profile-left-info">Card Number:</h4>
            <h4 class="profile-right-info">XXXX-XXXX-XXXX-0000</h4>
        </div>
        <div class="profile-info-row">
            <h4 class="profile-left-info">Exp:</h4>
            <h4 class="profile-right-info">10/18</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6" ng-show="charities.length && currentuser._id == user._id">
        <h3>Favorite Charities</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Charity Name</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="charity in charities">
                    <td>
                        <a href="" ng-click="openCharityPage(charity)">{{charity.name}}</a>
                    </td>
                    <td>
                        <button class="btn btn-danger pull-right" ng-click="deleteCharity(charity._id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6" ng-show="people.length && currentuser._id == user._id">
        <h3>Favorite People</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Full Name</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="person in people">
                    <td>
                        <a href="#/profile" ng-click="openProfile(person._id)">
                            {{person.firstName}} {{person.lastName}}
                        </a>
                    </td>
                    <td>
                        <button class="btn btn-danger pull-right" ng-click="deletePerson(person._id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
<div class="row">
    <div class="col-md-2 pull-right">
        <button ng-show="currentuser._id == user._id" class="btn btn-danger"
                ng-click="deleteAccount(currentuser._id)">
            Delete Account
        </button>
        <button ng-show="currentuser._id !== user._id && !isFollowed" class="btn btn-primary"
                ng-click="followUser(user._id)">
            Follow
        </button>
        <button ng-show="currentuser._id !== user._id && isFollowed" class="btn btn-success"
                ng-click="unfollowUser(user._id)">
            Unfollow
        </button>
    </div>
</div>