<div class="row">
    <div class="col-md-2 col-sm-5 east-panel">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Categories</h2>
            </div>
            <div class="list-group page-links">
                <a ng-repeat="category in categories" href="#/results" 
                   class="list-group-item">{{category}}</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-5 west-panel pull-right">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 ng-show="!currentuser ||(currentuser && !currentuser.charities.length)" class="panel-title text-center">Charity Pages</h3>
                <h3 ng-show="currentuser && currentuser.charities.length" 
                    class="panel-title text-center">Favorite Charities</h3>
            </div>
            <div class="list-group page-links">
                <a href="#/charity" ng-repeat="charity in (favcharities.length ? favcharities : charities)" 
                   class="list-group-item" ng-click="openCharityPage(charity)">{{charity.name}}</a>
            </div>
        </div>
    </div>
    <div class="col-md-7 col-sm-12" id="center-panel">
        <div>
            <ul class="list-group">
                <li ng-repeat="charity in charities">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a href="#/charity" ng-click="openCharityPage(charity)">{{charity.name}}</a>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <p>{{charity.description}}</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    
</div>