<div class="row">
    <div class="col-md-2 col-sm-5 east-panel">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Categories</h2>
            </div>
            <div class="list-group page-links">
                <a ng-repeat="category in categories" href="#/results" class="list-group-item">{{category}}</a>
            </div>
            <!--
            <ul class="list-group page-links">
                <li ng-repeat="category in categories"
                    class="list-group-item" onclick="location.href='#/results';">
                    {{category}}
                </li>
            </ul>-->
        </div>
    </div>
    <div class="col-md-3 col-sm-5 west-panel pull-right">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Charities</h3>
            </div>
            <div class="list-group page-links">
                <a ng-repeat="charity in charities" href="#/charity" class="list-group-item">{{charity}}</a>
            </div>
        </div>
    </div>
    <div class="col-md-7 col-sm-12" id="center-panel">
        <div>
            <ul class="list-group">
                <li>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a href="#/charity">Red Cross</a>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                </p>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a href="#/charity">UNICEF</a>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a href="#/charity">UNICEF</a>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a href="#/charity">UNICEF</a>
                            </h3>
                        </div>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                    </div>
                </li>
                <li>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a href="#/charity">UNICEF</a>
                            </h3>
                        </div>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    
</div>